/* TO DO:
2. ham burger
3. modal in best sellers section
4. dark mode
*/

html {
  scroll-behavior: smooth;
  width: 100vw;
}

body {
  background-color: #d9efe3;
}

.navigation-bar {
  display: flex;
  background: rgb(3, 45, 38);
  gap: 15vw;
  left: 0;
  align-items: center;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 2;
}

.navigation-bar .logo-image-and-text {
  display: flex;
  gap: 30px;
}

.navigation-bar .logo {
  width: 60px;
  height: auto;
  border: 1px solid rgb(3, 45, 38);
}

.navigation-bar .website-name {
  color: white;
  display: flex;
  align-items: center;
  font-size: 34px;
  font-family: "Helvetica", Courier, monospace;
  transition: transform 0.3s ease;
  font-weight: bold;
}

.navigation-bar .website-name:hover {
  transform: scale(1.1);
}

.navigation-bar .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-bar .nav-links a {
  color: white;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 1.3vw;
  padding-left: 3vw;
}

.navigation-bar .nav-links a {
  transition: transform 0.3s ease;
}

.navigation-bar .nav-links a:hover {
  transform: scale(1.2);
  text-decoration: underline;
  color: bisque;
}

.intro-page {
  margin-top: 7vh;
  display: flex;
}

.intro-page .left-intro-page {
  display: flex;
}

.intro-page .big-logo {
  width: 50vw;
  height: auto;
}

.right-intro-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.right-intro-page h1.title {
  font-family: "Helvetica", Courier, monospace;
  font-size: 7vw;
}

.right-intro-page h2.subtitle {
  font-size: 2.5vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.intro-page .best-sellers-button {
  padding: 8px 15px;
  font-size: 1.5vw;
  text-align: center;
  background-color: #3498db;
  color: white;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 7%;
}

.intro-page .best-sellers-button:hover {
  background-color: #2980b9;
}

.best-selling-books .title {
  font-size: 80px;
  text-align: center;
  font-family: "Helvetica", Courier, monospace;
  font-weight: bold;
  padding-top: 80px;
}

.best-selling-books .subtitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  padding-top: 40px;
  padding-left: 20px;
}

.best-selling-books .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 80px 45px;
}

.best-selling-books .card {
  display: flex;
  position: relative;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 40px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 700px;
  margin: 0px 25px 50px 25px;
}

.best-selling-books .card .book-cover {
  width: 250px;
  height: 400px;
  border: 2px solid black;
}

.best-selling-books .card {
  transition: transform 0.3s ease;
}

.best-selling-books .card:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.best-selling-books .card .book-title {
  padding-top: 5%;
  font-weight: bolder;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.best-selling-books .card .author {
  padding-top: 2%;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.best-selling-books .card p {
  font-family: Helvetica, sans-serif;
}

.best-selling-books .card .identifier {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
}

.best-selling-books .card .price {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: aquamarine;
  color: black;
  padding: 5px 10px;
  font-size: 18px;
}

.best-selling-books .know-more-button {
  position: absolute;
  bottom: 18px;
  left: 10%;
  font-size: 13px;
  padding: 6px 8px;
  background-color: aqua;
  color: black;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.best-selling-books .card:hover .know-more-button {
  opacity: 1;
}

.recommendations .title {
  font-size: 80px;
  text-align: center;
  font-family: "Helvetica", Courier, monospace;
  letter-spacing: 3px;
  font-weight: bold;
  padding-top: 50px;
}

.recommendations .subtitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  padding: 40px 0px 30px 30px;
}

.recommendations .search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.recommendations .search-box {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 60px;
  padding: 10px 20px;
  border: 2px solid #4f806e;
}

.recommendations .search-box input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 25px;
  color: #282739;
}

/* .recommendations .search-box ::placeholder {
  color: rgba(0, 0, 0, 0.7);
} */

.recommendations .search-box button img {
  width: 25px;
}

.recommendations .search-box button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #94e0c4;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.recommendations .search-box button:hover {
  transform: scale(1.2);
}

.recommendations .cards {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  margin-top: 80px;
  align-items: center;
}

.recommendations .cards .cards-1,
.recommendations .cards .cards-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
}

.recommendations .card {
  display: flex;
  position: relative;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 30px 0px 15px 0px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 250px;
}

.recommendations .card .book-cover {
  width: 200px;
  height: auto;
  border: 2px solid black;
  margin-bottom: 20px;
}

.recommendations .card .book-title {
  padding-top: 5%;
  font-weight: bolder;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.recommendations .card .author {
  padding-top: 2%;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.recommendations .card .price {
  padding-top: 5%;
  padding-bottom: 5%;
}

.recommendations .card {
  transition: transform 0.3s ease;
}

.recommendations .card:hover {
  transform: scale(1.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.recommendations .know-more-button {
  font-size: 13px;
  padding: 6px 8px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.recommendations .card:hover .know-more-button {
  opacity: 1;
}

.review .title {
  font-size: 80px;
  text-align: center;
  font-family: "Helvetica", Courier, monospace;
  letter-spacing: 3px;
  font-weight: bold;
  word-spacing: 10px;
  padding-top: 100px;
  padding-bottom: 30px;
}

.review .cards-and-review {
  display: flex;
  flex-wrap: wrap;
}

.review .recent-text {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  padding: 50px 50px 30px 0px;
  margin-left: 2%;
}

.review .left-side {
  display: flex;
  flex-direction: column;
  width: 50vw;
  min-width: 650px;
}

.review .cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.review .card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  width: 90vw;
  margin-left: 2%;
  justify-content: center;
}

.review .card img {
  padding: 10px 30px;
  width: 150px;
  height: 150px;
}

.review .card .text {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.review .card .name {
  padding: 15px;
  font-size: 25px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.review .card .stars {
  font-size: 30px;
  color: #ffd700;
  padding-left: 15px;
}

.review .card .review-text {
  font-size: 17px;
  padding: 15px;
}

.review .card {
  transition: transform 0.3s ease-in-out;
}

.review .card:hover {
  transform: translateX(35px);
}

.review .right-side {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  font-size: 25px;
  width: 30vw;
}

.review .right-heading {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  padding: 50px 0px 50px 0px;
  margin-left: 2%;
}

.review .right-side label {
  margin-bottom: 5px;
  font-weight: 500;
}

.review .right-side input[type="text"],
input[type="email"],
textarea {
  width: 100vw;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.review .right-side textarea {
  max-height: 300px;
  min-width: 50vw;
  max-width: 100vw;
  min-height: 100px;
}

.review .right-side button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.review .heading-and-rating {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.review .rating {
  display: flex;
  flex-direction: row-reverse;
  padding: 15px 0px 0px 10px;
}

.review .rating input {
  display: none;
}

.review .rating label {
  font-size: 40px;
  cursor: pointer;
  color: #ccc;
}

.review .rating input:checked ~ label {
  color: #ffc107;
}

hr {
  margin: 100px;
  border-top: 1px solid #ccc;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  padding-bottom: 70px;
}

.footer .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 50px;
}

.footer .left .name-logo {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 10px;
}

.footer .left .logo {
  border: 1px solid black;
}

.footer .website-name-foot {
  font-family: "Helvetica", Courier, monospace;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
}

.footer .left .social {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 50px;
}

.footer .left .social img {
  width: 50px;
  height: auto;
}

.footer .left .social a {
  transition: transform 0.3s ease-in-out;
}

.footer .left .social a:hover {
  transform: scale(1.3);
}

.footer .right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
}

.footer .right ul {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

.footer .right li {
  padding: 10px;
}

.footer .right li {
  font-size: 22px;
}

.footer .right {
  padding-right: 100px;
}

.footer .right a {
  text-decoration: none;
}

.footer ~ hr {
  margin-bottom: 60px;
}

.back-to-top img {
  padding-top: 50px;
  width: 70px;
}

.copyright {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-bottom: 60px;
}

@media screen and (max-width: 1300px) {
  .navigation-bar .nav-links {
    display: none;
  }

  .intro-page {
    flex-wrap: wrap;
  }
  .intro-page .left-intro-page {
    width: 100vw;
  }
  .intro-page .big-logo {
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
    width: 80vw;
  }
  .right-intro-page {
    width: 100vw;
  }
  .right-intro-page h1.title {
    font-size: 15vw;
  }
  .right-intro-page h2.subtitle {
    font-size: 5vw;
  }
  .intro-page .best-sellers-button {
    font-size: 3vw;
  }

  .best-selling-books .title {
    font-size: 10vw;
  }
  .best-selling-books .subtitle {
    font-size: 5vw;
  }

  .recommendations .title {
    font-size: 9vw;
  }
  .recommendations .subtitle {
    font-size: 4vw;
  }
  .recommendations .search-box {
    width: 80vw;
  }
  .recommendations .search-box input {
    font-size: min(4vw, 35px);
    padding: 24px 0px;
  }
  .recommendations .search-box button img {
    width: 6vw;
  }
  .recommendations .search-box button {
    width: 15vw;
    height: 15vw;
  }
  .recommendations .card {
    width: 160px;
  }
  .recommendations .card .book-cover {
    width: 150px;
  }

  .review .title {
    font-size: max(11vw, 60px);
  }
  .review .recent-text {
    font-size: max(5vw, 30px);
  }
  .review .left-side {
    width: 85vw;
    min-width: none;
  }
  .review .right-heading {
    font-size: max(5vw, 30px);
  }
  .review .right-side {
    width: 40vw;
  }
}
